{% if user_list %}
    <ul>
    <h1>Users</h1>
    {% for user in user_list %}
     <li><h3>{{ user.first_name }}<h3></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Data is available.</p>
{% endif %}

{% if account_list %}
    <ul>
    <h1>Accounts</h1>
    {% for account in account_list %}
     <li><h3>{{ account.account_name }}<h3></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Data is available.</p>
{% endif %}

{% if transaction_list %}
    <ul>
    <h1>Transactions</h1>
    {% for transaction in transaction_list %}
     <li><h3>{{ transaction.pub_date }}<h3></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Data is available.</p>
{% endif %}
